<% if current_user.friend_requests_as_receiver.count > 0 %>
  <h2>You have <%= current_user.friend_requests_as_receiver.count %> friend request<%= current_user.friend_requests_as_receiver.count == 1 ? "." : "s." %></h2>
  <% current_user.friend_requests_as_receiver.each do |request| %>
  <li>
    <%= request.requestor.first_name %> <%= request.requestor.last_name %>
    <%= button_to "Accept", accept_received_request_user_path(request.requestor.username), form: {style: 'display:inline-block;'}, method: :get %>
    <%= button_to "Decline", decline_received_request_user_path(request.requestor.username), form: {style: 'display:inline-block;'}, method: :get %>
  </li>
  <% end %>
<% else %>
  <h2>No new friend requests from other people.</h2>
<% end %>